<template>
  <v-main>
    <v-container class="text-left">
      <h1>🖥️ Fonctionnalités</h1>
      <br/>
      <h2>🌐 Menu de navigation</h2>
      <p>La barre de navigation, située en haut de l'écran, permet à l'utilisateur de naviguer entre les différentes pages de l'application :</p>
      <ul>
        <li><strong>FRIGO</strong> : Page principale de l'application</li>
        <li><strong>AJOUTER UN PRODUIT</strong> : Formulaire permettant d'ajouter un produit au frigo.</li>
        <li><strong>A PROPOS</strong> : Page d'informations sur l'application.</li>
      </ul>
      <br/>
      <h2>🏚️ Page d'accueil</h2>
      <p>Chemin d'accès : <code>/</code></p>
      <p>La page d'accueil de l'application affiche un frigo fermé. Lorsque l'utilisateur clique sur la poignée de la porte, il est redirigé vers la page de gestion des produits du frigo.</p>
      <br/>
      <h2>📦 Page de gestion des produits</h2>
      <p>Chemin d'accès : <code>/PageFridge</code></p>
      <p>Cette page affiche le frigo ouvert. Elle est composée de deux parties :</p>
      <ul>
        <li><strong>Liste des produits</strong> : Affichage et gestion des produits actuellement présents dans le frigo.</li>
        <li><strong>Porte du frigo</strong> : Un timer est affiché sur la porte du frigo. Un clic sur la porte permet de refermer le frigo et de retourner sur la page d'accueil.</li>
      </ul>
      <br/>
      <h3>📦 Affichage des produits</h3>
      <ul>
        <li>Les produits sont affichés sous forme de cartes Vuetify.</li>
        <li>Chaque carte contient les informations suivantes :
          <ul>
            <li><strong>Photo</strong> : Photo du produit (si renseignée)</li>
            <li><strong>Nom du produit</strong> : Nom du produit</li>
            <li><strong>Quantité</strong> : Quantité du produit</li>
            <li><strong>Boutons</strong> :
              <ul>
                <li><strong>Bouton ➖</strong> : permet de retirer 1 à la quantité du produit.</li>
                <li><strong>Bouton ➕</strong> : permet d'ajouter 1 à la quantité du produit.</li>
                <li><strong>Bouton 🗑️</strong> : permet de supprimer le produit du frigo.</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Si aucun produit n'est présent dans le frigo, un message s'affiche à la place des cartes.</li>
      </ul>
      <br/>
      <h3>🔍 Recherche de produit</h3>
      <ul>
        <li>Un champ de recherche permet de filtrer les produits affichés.</li>
        <li>La recherche s'effectue sur le nom des produits.</li>
        <li>La recherche est insensible à la casse.</li>
        <li>La recherche est dynamique, les produits sont filtrés à chaque saisie de caractère.</li>
        <li>Un bouton ❌ permet de réinitialiser la recherche et d'afficher tous les produits.</li>
      </ul>
      <br/>
      <h3>⏲️ Timer d'ouverture de porte</h3>
      <ul>
        <li>Dès l'ouverture de la porte du frigo, un timer de 2 minutes est lancé.</li>
        <li>L'utilisateur doit fermer la porte du frigo avant la fin du timer.</li>
        <li>Lorsque le timer arrive à 0, les produits sont périmés.</li>
        <li>Les images des produits périmés sont affichées en négatif.</li>
        <li>Une alerte apparaît signalant à l'utilisateur que les produits sont périmés et que le frigo doit être vidé.</li>
        <li>Lors de l'appui sur le bouton de l'alerte, ou en fermant la page, tous les produits sont supprimés du frigo.</li>
      </ul>
      <p><em>Conseil : tester cette fonctionnalité en dernier pour ne pas vider tous les produits actuellement présents dans le frigo.</em></p>
      <br/>
      <h2>📝 Formulaire d'ajout de produit</h2>
      <p>Chemin d'accès : <code>/PageAddItem</code></p>
      <p>Ce formulaire permet d'ajouter un produit au frigo.</p>
      <ul>
        <li><strong>Champs :</strong></li>
        <ul>
          <li><strong>Nom du produit</strong> : Champ de saisie du nom du produit (REQUIS)</li>
          <li><strong>Quantité</strong> : Champ de saisie de la quantité du produit (REQUIS)</li>
          <li><strong>Photo</strong> : Champ de saisie du lien vers la photo du produit (OPTIONNEL)</li>
        </ul>
        <li>Un bouton "AJOUTER LE PRODUIT" permet d'envoyer le formulaire.</li>
        <li>Un message d'erreur s'affiche si le formulaire n'est pas correctement rempli.</li>
        <li>Un message de succès s'affiche si le produit a été ajouté correctement.</li>
      </ul>
      <br/>
      <h3>🔠 Champ de saisie du nom du produit</h3>
      <ul>
        <li>Le nom du produit peut être n'importe quelle chaîne de caractères.</li>
        <li>Si le champ n'est pas renseigné, le formulaire n'est pas envoyé, et un message d'erreur s'affiche.</li>
      </ul>
      <br/>
      <h3>🔢 Champ de saisie de la quantité du produit</h3>
      <ul>
        <li>Les boutons ➕ et ➖ permettent d'incrémenter ou de décrémenter la valeur du champ.</li>
        <li>On peut également saisir un nombre entier compris entre 1 et 50.</li>
        <li>Si la valeur saisie est supérieure à 50, elle reste bloquée à 50.</li>
        <li>Si la valeur saisie est inférieure à 1, elle reste bloquée à 1.</li>
        <li>Si la valeur n'est pas renseignée, le formulaire n'est pas envoyé, et un message d'erreur s'affiche.</li>
      </ul>
      <br/>
      <h3>📷 Champ de saisie de la photo du produit</h3>
      <ul>
        <li>Le champ de saisie de la photo du produit est optionnel.</li>
        <li>Si le champ n'est pas renseigné, le formulaire est envoyé, et le produit est ajouté sans photo.</li>
        <li>Si le champ est renseigné, il doit contenir un lien valide vers une image.</li>
        <li>Le lien doit obligatoirement commencer par <code>http://</code> ou <code>https://</code>.</li>
        <li>Le lien ne doit pas contenir d'espace.</li>
        <li>Le lien doit obligatoirement terminer par une extension d'image parmi les suivantes : <code>.jpg</code>, <code>.jpeg</code>, <code>.png</code>, <code>.gif</code>, <code>.webp</code>.</li>
        <li>Si le lien n'est pas valide, le formulaire n'est pas envoyé, et un message d'erreur s'affiche.</li>
      </ul>
    </v-container>
  </v-main>
</template>

<script setup>
</script>

<style scoped>
</style>
