<template>
  <FormAddItem @addItem="addItemHandler"></FormAddItem>
  <br>
  <v-alert
    v-model="showAlert"
    border="start"
    close-label="Fermer"
    :color="alertColor"
    title="Ajout d'un produit"
    variant="tonal"
    closable>
    {{ alertText }}
  </v-alert>
</template>

<script setup>
import {ref} from "vue";
import FormAddItem from "@/components/FormAddItem.vue";

const id = 6;
const url = "https://webmmi.iut-tlse3.fr/~pecatte/frigo/public/" + id + "/produits";

const showAlert = ref(false);
const alertText = ref("");
const alertColor = ref("");

function addItemHandler(formValue){

  const headers = new Headers();
  headers.append("Content-Type", "application/json");

  let itemJSON = JSON.stringify({ nom: formValue.itemName, qte: formValue.qty, photo: formValue.picture });
  const fetchOptions = { method: "POST", headers: headers, body: itemJSON };

  fetch(url, fetchOptions)
    .then((response) => {
      return response.json();
    })
    .then((dataJSON) => {
      alertText.value = formValue.itemName.toUpperCase() + " ajouté avec succès";
      alertColor.value = "success";
      showAlert.value = true;
    })
    .catch((error) => {
      alertText.value = "Erreur lors de l'ajout du produit : " + error;
      alertColor.value = "error";
      showAlert.value = true;
    });
}
</script>

<style scoped>
</style>
