<template>
  <v-row dense>
    <v-col cols="6" offset="3">
      <v-card class="mx-auto rounded-xl" height="700px">
        <v-layout>
          <FridgeTitle></FridgeTitle>
          <v-main>
            <v-card class="mx-auto d-flex align-center justify-begin" height="600" color="primary">
                <v-btn height=400 to="/PageFridge"></v-btn>
            </v-card>
          </v-main>
        </v-layout>
      </v-card>
    </v-col>
  </v-row>
</template>

<script setup>
import FridgeTitle from "@/components/FridgeTitle.vue";
</script>

<style scoped>
</style>
