<template>
  <v-container>
    <v-row>
      <v-col
      cols="8"
      offset="2">
        <v-card class="mx-auto rounded-xl" height="100%" max-width="85%">
          <v-layout>
            <v-app-bar color="primary">
              <v-toolbar-title>Ajouter un produit au frigo</v-toolbar-title>
            </v-app-bar>
            <v-main>
              <v-form validate-on="submit lazy" @submit.prevent="submit">
                <v-container>
                  <v-row class="d-flex justify-center">
                    <v-col
                      cols="12"
                      md="6"
                    >
                      <v-text-field
                        v-model="itemName"
                        label="Nom"
                        :rules="nameRule"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row class="d-flex justify-center">
                    <v-col
                      cols="12"
                      md="6"
                    >
                      <v-number-input
                        control-variant="split"
                        v-model="quantity"
                        :max="50"
                        :min="1"
                        :rules="numberRule"
                        label="Quantité"
                        required
                      >
                      </v-number-input>
                    </v-col>
                  </v-row>
                  <v-row class="d-flex justify-center">
                    <v-col
                      cols="12"
                      md="6"
                    >
                      <v-text-field
                        v-model="picture"
                        label="Photo"
                        :rules="pictureRule"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row class="d-flex justify-center">
                    <v-col
                      cols="12"
                      md="6"
                    >
                      <v-btn
                        color="primary"
                        type="submit">
                        Ajouter le produit
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
            </v-main>
          </v-layout>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import {ref} from "vue";

const emit = defineEmits(['addItem']);
const itemName = ref("");
const quantity = ref (1);
const picture = ref("");

let nameRule = [
  () => {
    if (itemName.value) return true
    return 'Veuillez renseigner le nom du produit.'
  },
]

let numberRule = [
  () => {
    if (quantity.value) return true
    return 'Veuillez renseigner la quantité du produit.'
  },
]

let pictureRule = [
  () => {
    if (!picture.value) return true
    const regexp = new RegExp("(^https?:\\/\\/\\S*)+(\\.png|\\.jpe?g|\\.gif|\\.webp)")
    if (picture.value.match(regexp) !== null) return true
    return 'Veuillez renseigner une URL valide.'
  },
]

async function submit(event) {
  const results = await event;
  if(results.valid) {
    emit('addItem', { itemName: itemName.value, qty: quantity.value, picture: picture.value });
  }
}
</script>

<style scoped>
</style>
