<template>
  <v-card color="primary" height="100%" style="display: grid">
    <v-img v-if="props.expired" class="neg-img" :src="props.item.picture" max-height="200px"></v-img>
    <v-img v-else class="align-start" :src="props.item.picture" max-height="200px"></v-img>
    <v-card-title class="text-h5 info--text">
      {{ item.name }}
    </v-card-title>
    <v-card-subtitle>
      Quantité : {{ item.qty }}
    </v-card-subtitle>
    <v-card-actions>
      <v-row>
        <v-col class="d-flex justify-center">
          <v-btn color="buttons" text="-" variant="elevated" @click="$emit('removeOne', item)"></v-btn>
          <v-btn color="buttons" text="+" variant="elevated" @click="$emit('addOne', item)"></v-btn>
          <v-btn @click="$emit('removeAll', item)" variant="elevated" color="buttons">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card-actions>
  </v-card>
</template>

<script setup>
let props = defineProps(['item', 'expired']);
</script>

<style scoped>
.neg-img {
  -webkit-filter: invert(1);
  filter: invert(1);
}
</style>
