<template>
  <v-card class="rounded-xl mx-auto d-flex justify-center align-center mt-4" color="info" height="200px" max-width="250px">
    <v-card class="rounded-xl mx-auto d-flex justify-center align-center" color="primary" height="175px" width="225px">
      <v-progress-circular
        v-model="percentage"
        size="100"
        width="15"
        color="info"
        class="align-center"
      >
        {{ Math.floor((duration  - timerIncrement) / 60) }}' {{Math.floor((duration - timerIncrement) % 60)}}''
      </v-progress-circular>
    </v-card>
  </v-card>
</template>

<script setup>
import {onMounted, onUnmounted, ref} from "vue";

const emit = defineEmits(['expirationTrigger']);
const interval = ref({});
const percentage = ref(100);
const timerIncrement = ref(0);
const duration = 120; // 2 minutes

function incrementTimer() {
  if(timerIncrement.value >= duration - 1) {
    emit('expirationTrigger');
    clearInterval(interval.value);
  }
  timerIncrement.value += 1;
  percentage.value = 100 - Math.ceil((timerIncrement.value * 100) / duration);
}

onMounted(() => {
  interval.value = setInterval(() => {
    incrementTimer();
  }, 1000);
})

onUnmounted(() => {
  clearInterval(interval.value);
})
</script>

<style scoped>
</style>
