<template>
  <v-container>
    <v-row dense>
        <v-text-field
          variant="solo"
          v-model="searchedItem"
          clear-icon="mdi-close-circle"
          @click:clear="clearSearch"
          @input="getFridgeItems"
          type="text"
          clearable
          placeholder="Rechercher dans le frigo" />
    </v-row>
    <v-container class="item-list">
      <v-row dense v-if="itemList!=null && itemList.length!==0">
        <v-col cols="12" xl="4" lg="6" md="12" sm="12" v-for="item in itemList" :key="item.id">
          <FridgeItem :item="item" :expired="props.expired" @removeOne="removeOneHandler" @addOne="addOneHandler" @removeAll="deleteItemHandler"></FridgeItem>
        </v-col>
      </v-row>
      <v-row dense v-else>
        <v-col>
          <v-card>
            <v-card-title>
              Aucun élément dans le frigo
            </v-card-title>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
  <v-snackbar
    v-model="props.expired"
    rounded="shaped"
    color="info"
  >
    <div class="text-h5 d-flex justify-center pb-5">Porte restée ouverte !</div>
    <div class="pb-5"> Vous avez laissé la porte ouverte trop longtemps !</div>
    <div class="pb-5">Le frigo doit être vidé </div>
    <v-btn
      to="/"
      variant="outlined"
    >
      Vider le frigo
    </v-btn>
  </v-snackbar>
</template>

<script setup>
import {reactive, onMounted, ref, onUnmounted} from "vue";
import {Item} from "../Item.js";
import FridgeItem from "@/components/FridgeItem.vue";

const props = defineProps(["expired"])
const itemList = reactive([]);
const searchedItem = ref("");
const id = 6;
const url = "https://webmmi.iut-tlse3.fr/~pecatte/frigo/public/" + id + "/produits";

function getFridgeItems() {
  itemList.splice(0, itemList.length);
  const fetchOptions = { method: "GET" };
  fetch(url + "?search=" + searchedItem.value, fetchOptions)
    .then((response) => {
      return response.json();
    })
    .then((dataJSON) => {
      dataJSON.forEach((item) => {
        itemList.push(new Item(item));
      });
    })
    .catch((error) => {
      console.log(error);
    });
}

function removeOneHandler(item){
  if(item.qty <= 1) {
    deleteItemHandler(item);
    return
  }
  changeQuantity(item, item.qty-1);
}

function changeQuantity(item, quantity) {
  let itemJSON = JSON.stringify({ id: item.id, nom: item.name, qte: quantity, photo: item.picture });
  const headers = new Headers();
  headers.append("Content-Type", "application/json");
  const fetchOptions = { method: "PUT", headers: headers, body: itemJSON };
  fetch(url, fetchOptions)
    .then((response) => {
      return response.json();
    })
    .then((dataJSON) => {
      getFridgeItems();
    })
    .catch((error) => {
      console.log(error);
    });
}

function deleteItemHandler(item){
  const fetchOptions = { method: "DELETE" };
  fetch(url + "/" + item.id , fetchOptions)
    .then((response) => {
      return response.json();
    })
    .then((dataJSON) => {
      getFridgeItems();
    })
    .catch((error) => {
      console.log(error);
    });
}

function addOneHandler(item){
  changeQuantity(item, item.qty+1);
}

function clearSearch(){
  searchedItem.value = "";
  getFridgeItems();
}

function deleteAllItems(){
  itemList.forEach((item) => {
    deleteItemHandler(item);
  });
}

onMounted(() => {
  getFridgeItems();
});

onUnmounted( () => {
  if(props.expired){
    deleteAllItems();
  }
})
</script>

<style scoped>
.item-list {
  max-height: 500px;
  overflow-y: auto;
}
</style>
