<template>
  <v-container>
    <v-row no-gutters>
      <v-col>
        <v-card class="rounded-xl" color="secondary" height="700px">
          <v-layout>
            <FridgeTitle></FridgeTitle>
            <v-main>
              <FridgeDisplay :expired="expirationStatus"></FridgeDisplay>
            </v-main>
          </v-layout>
        </v-card>
      </v-col>
      <v-col>
        <v-card to="/" height="700px" class="rounded-xl" color="primary">
          <FridgeDoor @expirationTrigger="expirationHandler"></FridgeDoor>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import FridgeTitle from "@/components/FridgeTitle.vue";
import FridgeDisplay from "@/components/FridgeDisplay.vue";
import FridgeDoor from "@/components/FridgeDoor.vue";
import {ref} from "vue";

const expirationStatus = ref(false);

function expirationHandler(){
  expirationStatus.value = true;
}
</script>

<style scoped>
</style>
