<template>
  <v-app>
    <v-app-bar
      color="primary"
      density="compact">
      <v-app-bar-title>Application de gestion d'un frigo - Kevin GAREL - 2024</v-app-bar-title>
      <v-btn to="/">Frigo</v-btn>
      <v-btn to="/PageAddItem">Ajouter un produit</v-btn>
      <v-btn to="/PageAbout">A Propos</v-btn>
    </v-app-bar>
    <v-main>
      <v-container class="page">
        <RouterView />
      </v-container>
    </v-main>
  </v-app>
</template>

<script setup>
</script>

<style scoped>
.page{
  min-height: 100vh;
  text-align: center;
}
</style>
